body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:rgb(35, 36, 37);
}

/* Sidebar CSS */
#sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color:rgb(18, 18, 18);
  overflow: auto; /* Makes it scrollable */
  transition: left 0.3s ease; 
  border-right: 1px solid #3b3b3b;
}

#main-content {
  display: flex;    
  flex-direction: column;
  height: 100vh;    
  margin-left: 250px; 
  transition: margin-left 0.3s ease;
}

/* Use 'left' property to hide the sidebar off-screen */
.sidebar-hidden {
  left: -250px; 
}

.expanded {
  margin-left: 0; /* Adjust main content when sidebar is hidden */
}


#toggle-sidebar {
  position: absolute;  
  top: 5px;          
  left: 255px;       
  padding: 5px 10px;
  background-color:rgb(114, 114, 114);
  border:#fcfcfc;          
  cursor: pointer;       
  border-radius: 5px;    
  transition: left 0.3s ease; 
}
#list_title {
  text-align:center;
  margin-bottom: 10px;
  border-bottom: 1px solid #5a5a5a;
  list-style-type: none;
  vertical-align: middle;
  padding: 10px;
  color:white;
}

#image-box {
  height: 60px;
  width: 170px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-box:hover {
  background-color: #383434; 
  color: white; 
  transition-duration: 300ms;
}

#friends-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  list-style-type: none;
  color: white;
}

#friends-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 50px;
  vertical-align: middle;
}

/* Hidden state for the sidebar */
.sidebar-hidden {
  transform: translateX(-100%);
}

#main-content.expanded {
  margin-left: 0;
}

#picture {
  display: flex;
  flex-direction: column;
  height: 92%;
}

#chat-container {
  margin-top: auto;   
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#chat-history {
  flex-grow: 1;
  overflow-y: auto;
  height: 30px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align:center;  
  color:#ccc
}

#chat-input {
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(44, 44, 44);
  color:#ccc;
  flex-grow: 1;
}

#emotion-image {
  height: 380px;
  width: auto;
  object-fit: contain;
  align-self:center;
  margin-top: 100px;
}

#start-button {
  border-radius: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  height: 45px;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: center;
  border-color: None;
}

/* Change the background and text color when hovering over the button */
#start-button:hover {
  background-color: #383838; 
  color: white; 
}

