<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furina</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="sidebar" class="sidebar">
        <div id="list_title">Friends</div>
        <ul id="friends-list">
            <div role="option" data-selectable="true" id="image-box" style="cursor: pointer;">
                <li><img src="../static/images/profile.jpg" alt="Friend 1"><span>Furina</span></li>
            </div>  
        </ul>
    </div>
    
    <div id="main-content">
        <button id="toggle-sidebar"><</button>
        <div id="picture">
            <img id="emotion-image" src="" alt="Emotion" hidden>
            <div id="chat-history"></div>
        </div>
        <div id="chat-container">
            <input type="text" id="chat-input" placeholder="Type your message here...">
            <button id="start-button">Voice Mode</button>
            <audio id="chat-audio" hidden></audio>  <!-- Audio element for TTS playback -->
        </div>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
